# 初始建立專案時，將 application.yml.example 複製到 [web模組]/src/main/resources/
# 將檔名更改為 application.yml
# 設定 datasource 資料庫的連線設定

spring:
  main:
    allow-bean-definition-overriding: true
  mvc:
    view:
      prefix: /WEB-INF
      suffix: .jsp
  datasource:
    # 請保留 url 後面的連接參數
    url: jdbc:mysql://localhost/wayson_dev?serverTimezone=Asia/Taipei&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull
    username: root
    password:
    #    url: jdbc:mysql://13.230.111.240:3306/wayson_dev?serverTimezone=Asia/Taipei&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull
    #    username: gss_phil
    #    password: gss_phil_1101
    driver-class-name: com.mysql.cj.jdbc.Driver
  profiles:
    active: dev, fast
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        enable_lazy_load_no_trans: true
  servlet:
    multipart:
      max-file-size: -1
      max-request-size: -1
#  session:
#    timeout: 30s
server:
  port: 5278
